<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :writer_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :writer_name, class: "form-control", style: "width:20%;" %>
  </div>

  <div>
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", style: "width:20%;" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control", style: "width:20%;"%>
  </div>

  <div>
    <%= form.label :readtime, style: "display: block", class: "form-label" %>
    <%= form.number_field :readtime, class: "form-control", style: "width:20%;" %>
  </div>

  <div>
    <%= form.label :thumbnail, style: "display: block", class:"form-label", for:"inputGroupFile01" %>
    <%= form.file_field :thumbnail, class:"form-control", required: true, id:"inputGroupFile01", style: "width:20%;" %>
  </div>

  <div>
    <%= form.label :content, style: "display: block", class: "form-label" %>
    <%= form.text_area :content,  :class => "tinymce", style: "width:100%;" %>
  </div>

  <br>

  <div>
    <%= form.submit class:"btn btn-dark" %>

    <%= link_to "Back to blogs", blogs_path, class:"btn btn-outline-dark" %>
  </div>
<% end %>

<script src="https://cdn.tiny.cloud/1/kioclvupho5w7vnimbafwetan63d778xperu7g9vntchb1r4/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>
