<div id="<%= dom_id team_member %>">
  <p>
    <strong>Name:</strong>
    <%= team_member.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= team_member.role %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= team_member.email %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= team_member.image %>
  </p>

</div>
