<div id="<%= dom_id achievement %>">
  <p>
    <strong>Title:</strong>
    <%= achievement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= achievement.description %>
  </p>

  <p>
    <strong>Student name:</strong>
    <%= achievement.student_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= achievement.category %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= achievement.date %>
  </p>

</div>
